---
title: "ì£¼í”¼í„° ë…¸íŠ¸ë¶ ì™„ì „ í…ŒìŠ¤íŠ¸ - ì…€ì—ì„œ ë©”íƒ€ë°ì´í„° ì„¤ì •"
date: "2025-01-12"
category: "Data Science"
tags: ["jupyter", "python", "ë°ì´í„°ë¶„ì„", "pandas", "numpy", "matplotlib"]
excerpt: "ì²« ë²ˆì§¸ ì…€ì—ì„œ ë©”íƒ€ë°ì´í„°ë¥¼ ì„¤ì •í•˜ëŠ” ë°©ë²•ì„ ë³´ì—¬ì£¼ëŠ” ì˜ˆì œì…ë‹ˆë‹¤."
---

# ì£¼í”¼í„° ë…¸íŠ¸ë¶ ì™„ì „ í…ŒìŠ¤íŠ¸

ì´ê²ƒì€ ë¸”ë¡œê·¸ì—ì„œ ì£¼í”¼í„° ë…¸íŠ¸ë¶ì´ ì™„ì „íˆ ì–´ë–»ê²Œ í‘œì‹œë˜ëŠ”ì§€ í…ŒìŠ¤íŠ¸í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

## ë©”íƒ€ë°ì´í„° ì„¤ì • ë°©ë²•

**ì²« ë²ˆì§¸ ì…€ì— YAML í˜•ì‹ìœ¼ë¡œ ë©”íƒ€ë°ì´í„°ë¥¼ ì„¤ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤:**

```yaml
---    
title: "í¬ìŠ¤íŠ¸ ì œëª©"
date: "ë‚ ì§œ"
category: "ì¹´í…Œê³ ë¦¬ëª…"   
tags: ["íƒœê·¸1", "íƒœê·¸2", "íƒœê·¸3"]   
excerpt: "í¬ìŠ¤íŠ¸ ìš”ì•½"   
---  
```    

## ë°ì´í„° ë¶„ì„ ì˜ˆì œ

Pythonì„ ì‚¬ìš©í•œ ì™„ì „í•œ ë°ì´í„° ë¶„ì„ì„ í•´ë³´ê² ìŠµë‹ˆë‹¤.

**ì£¼ìš” ë‚´ìš©:**
- ë°ì´í„° ìƒì„± ë° ë¡œë“œ
- ê¸°ë³¸ í†µê³„ ë¶„ì„
- ë°ì´í„° ì‹œê°í™”

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("íŒ¨í‚¤ì§€ë¥¼ ì„±ê³µì ìœ¼ë¡œ importí–ˆìŠµë‹ˆë‹¤!")

íŒ¨í‚¤ì§€ë¥¼ ì„±ê³µì ìœ¼ë¡œ importí–ˆìŠµë‹ˆë‹¤!

In [3]:
# ìƒ˜í”Œ ë°ì´í„° ìƒì„±
np.random.seed(42)
data = {
    "x": np.random.randn(100),
    "y": np.random.randn(100) * 2 + 5
}
df = pd.DataFrame(data)
print("ìƒ˜í”Œ ë°ì´í„°ë¥¼ ìƒì„±í–ˆìŠµë‹ˆë‹¤.")
df.head()

ìƒ˜í”Œ ë°ì´í„°ë¥¼ ìƒì„±í–ˆìŠµë‹ˆë‹¤.

          x         y
0  0.496714  2.169259
1 -0.138264  4.158709
2  0.647689  4.314571
3  1.523030  3.395445
4 -0.234153  4.677429

In [4]:
# ê¸°ë³¸ í†µê³„ëŸ‰ í™•ì¸
print("ê¸°ë³¸ í†µê³„ëŸ‰:")
df.describe()

ê¸°ë³¸ í†µê³„ëŸ‰:

                x           y
count  100.000000  100.000000
mean    -0.103847    5.044609
std      0.908168    1.907338
min     -2.619745    1.162458
25%     -0.600906    3.388679
50%     -0.126956    5.168214
75%      0.405952    6.076341
max      1.852278   10.440338

# ê²°ë¡ 

ì´ ì˜ˆì œì—ì„œëŠ” ë‹¤ìŒì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤:

1. **ë°ì´í„° ìƒì„±**: NumPyë¥¼ ì‚¬ìš©í•˜ì—¬ ëœë¤ ë°ì´í„°ë¥¼ ìƒì„±í–ˆìŠµë‹ˆë‹¤
2. **ê¸°ë³¸ ë¶„ì„**: Pandasë¥¼ ì‚¬ìš©í•˜ì—¬ ê¸°ë³¸ í†µê³„ëŸ‰ì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤
3. **ì½”ë“œ ì‹¤í–‰**: ì£¼í”¼í„° ë…¸íŠ¸ë¶ì˜ ì½”ë“œ ì…€ê³¼ ì¶œë ¥ì´ ì˜ í‘œì‹œë˜ëŠ”ì§€ í™•ì¸í–ˆìŠµë‹ˆë‹¤

ì£¼í”¼í„° ë…¸íŠ¸ë¶ì´ ë¸”ë¡œê·¸ì—ì„œ ì™„ë²½í•˜ê²Œ í‘œì‹œë˜ê³  ìˆìŠµë‹ˆë‹¤! ğŸ‰