---
title: "주피터 노트북 완전 테스트 - 셀에서 메타데이터 설정"
date: "2025-01-12"
category: "Data Science"
tags: ["jupyter", "python", "데이터분석", "pandas", "numpy", "matplotlib"]
excerpt: "첫 번째 셀에서 메타데이터를 설정하는 방법을 보여주는 예제입니다."
---

# 주피터 노트북 완전 테스트

이것은 블로그에서 주피터 노트북이 완전히 어떻게 표시되는지 테스트하는 예제입니다.

## 메타데이터 설정 방법

**첫 번째 셀에 YAML 형식으로 메타데이터를 설정할 수 있습니다:**

```yaml
---    
title: "포스트 제목"
date: "날짜"
category: "카테고리명"   
tags: ["태그1", "태그2", "태그3"]   
excerpt: "포스트 요약"   
---  
```    

## 데이터 분석 예제

Python을 사용한 완전한 데이터 분석을 해보겠습니다.

**주요 내용:**
- 데이터 생성 및 로드
- 기본 통계 분석
- 데이터 시각화

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("패키지를 성공적으로 import했습니다!")

패키지를 성공적으로 import했습니다!

In [3]:
# 샘플 데이터 생성
np.random.seed(42)
data = {
    "x": np.random.randn(100),
    "y": np.random.randn(100) * 2 + 5
}
df = pd.DataFrame(data)
print("샘플 데이터를 생성했습니다.")
df.head()

샘플 데이터를 생성했습니다.

          x         y
0  0.496714  2.169259
1 -0.138264  4.158709
2  0.647689  4.314571
3  1.523030  3.395445
4 -0.234153  4.677429

In [4]:
# 기본 통계량 확인
print("기본 통계량:")
df.describe()

기본 통계량:

                x           y
count  100.000000  100.000000
mean    -0.103847    5.044609
std      0.908168    1.907338
min     -2.619745    1.162458
25%     -0.600906    3.388679
50%     -0.126956    5.168214
75%      0.405952    6.076341
max      1.852278   10.440338

# 결론

이 예제에서는 다음을 확인했습니다:

1. **데이터 생성**: NumPy를 사용하여 랜덤 데이터를 생성했습니다
2. **기본 분석**: Pandas를 사용하여 기본 통계량을 확인했습니다
3. **코드 실행**: 주피터 노트북의 코드 셀과 출력이 잘 표시되는지 확인했습니다

주피터 노트북이 블로그에서 완벽하게 표시되고 있습니다! 🎉